{
  "root": true,
  "env": {
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:testing-library/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "jest",
    "jsx-a11y",
    "react",
    "react-hooks",
    "prettier",
    "import",
    "testing-library"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "no-unused-expressions": ["error", { "allowTernary": true }],
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/order": [
        "error", {
            "groups": [
                "builtin",
                "external",
                "internal",
                "parent",
                "sibling",
                "index"
            ]
        }
    ],
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "camelcase": "off",
    "no-use-before-define": [0],
    "@typescript-eslint/no-use-before-define": [1]
  },
  "settings": {
      "react": {
          "version": "detect"
      }
  }
}
